<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DbCrudDataContextConnectionString" connectionString="User Id=postgres;Password=suong123;Host=localhost;Database=db_crud;Unicode=True;Persist Security Info=True;Integrated Security=True;Initial Schema=public" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>